python=3.11.11
python-socketio
matplotlib
numpy
scipy
ipykernel
plotly
pyqt
pyqtgraph
opencv
ipywidgets
sounddevice
torch
torchaudio
deepfilternet
# -f https://download.pytorch.org/whl/cpu/torch_stable.html
